.sobre {
    text-align: center;
    padding: 5em 20em;
}

.sobre__subtitulo {
    color: var(--vinho);
    font-size: 16px;
    font-weight: 600;
}

.sobre__titulo {
    color: var(--cinza-escuro);
    font-size: 48px;
    font-weight: 600;
    margin: 2.5rem 0;
}

.sobre__descricao {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}